<div class="col-md-3">
  <img class="img-rounded img-responsive" src="/images/actors/<%- actor.cover %>"
       alt="<%- [actor.firstName, actor.middleName, actor.lastName].join(' ') + ' photo'%>">
</div>
<div class="col-md-6">
  <h1>
    <%- [actor.firstName, actor.middleName, actor.lastName].join(' ') %>
  </h1>
  <p>

  </p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%- actor.rating %>"
         aria-valuemin="0" aria-valuemax="10" style="width: 60%;">
    </div>
  </div>
  <p>
    <%- actor.generalInfo %>
    <br>
    <br>
    Born: <%- actor.birthName + ' ' + _moment(actor.birthDaa).format('DD.MM.YYYY') %> in <%- actor.birthPlace %>
  </p>
  <% if (typeof(hideReadMore) === 'undefined' || !hideReadMore) {%>
  <a class="btn btn-large btn-primary" href="/actors/<%- actor.link %>">Read more</a>
  <% } %>
  <span class="pull-right"> Created at: <%- _moment(actor.createdAt).format('DD.MM.YYYY HH:mm:ss') %></span>
</div>
