<form class="form-inline" method="post" action="/comments/create">
  <% if (comments.length > 0) { %>
  <h2>Comments:</h2>
  <div class="comment-post">
    <div class="row">
      <% for (var j = 0; j < comments.length; j++) { %>
      <div class="col-md-12">
        <div class="comment-list">
          <h4><img src="/images/users/<%- comments[j].author.cover %>" width="100px" class="img-responsive avatar"
                   alt="<%- comments[j].author.name %>">
            by <%- comments[j].author.name %>
            <% if (typeof req.session.user !== 'undefined') { %>
            <button type="submit" name="descendant" value="<%- comments[j].id + '_' + (comments[j].level + 1) %>"
                    class="reply btn btn-xs btn-default" href="#">Reply
            </button>
            <% } %>
          </h4>
          <p>
            <%- comments[j].text %>
          </p>
        </div>
      </div>
      <% if(comments[j].children.length > 0) {

      for (var k = 0; k < comments[j].children.length; k++) {
        var level = comments[j].children[k].level - 1
      %>
      <div class="col-md-<%- 12 - 2 * level %> col-md-offset-<%- level %>">
        <div class="comment-list">
          <h4>
            <img src="/images/users/<%- comments[j].children[k].author.cover %>" width="100px"
                 class="img-responsive avatar"
                 alt="<%- comments[j].children[k].author.name %>">
            by <%- comments[j].children[k].author.name %>
            <% if (typeof req.session.user !== 'undefined') { %>
            <button type="submit" name="descendant"
                    value="<%- comments[j].children[k].id + '_' + (comments[j].children[k].level + 1) %>"
                    class="btn btn-xs btn-default reply">Reply
            </button>
            <% } %>
          </h4>
          <p>
            <%- comments[j].children[k].text %>
          </p>
        </div><!--comments list-->
      </div>

      <% } %>
      <% } %>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (typeof req.session.user !== 'undefined') { %>

  <div class="form-group">
    <input type="hidden" name="articleId" value="<%- typeof actor !== 'undefined' ? actor.id : movie.id %>">
    <input type="hidden" name="articleType" value="<%- articleName %>">
    <label>
      Text <textarea class="form-control" name="text"></textarea>
    </label>
    <button type="submit" class="send btn btn-default" name="descendant" value="-1">Comment article</button>
  </div>
</form>
<script type="text/javascript">
  $(document).ready(function() {
    $('.reply').click(function(e) {
      e.preventDefault();


      $('html, body').animate({
        scrollTop: $('.send').val($(this).val()).offset().top
      }, 2000);
    })
  });
</script>
<% } %>
